@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/helvetica-neue/HelveticaNeue-Thin.otf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/helvetica-neue/HelveticaNeue-Light.otf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/helvetica-neue/HelveticaNeue-Roman.otf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/helvetica-neue/HelveticaNeue-Medium.otf");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/helvetica-neue/HelveticaNeue-Bold.otf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/inter/Inter_24pt-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/inter/Inter_24pt-Medium.ttf");
}

@font-face {
  font-family: "Akira Expanded";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/akira-expanded/Akira-Expanded-Demo.otf");
}

@font-face {
  font-family: "Druk Wide Cyr";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/druk-wide-cyr/Druk-Wide-Cyr.woff2") format("woff2"),
    url("../assets/fonts/druk-wide-cyr/Druk-Wide-Cyr.ttf") format("truetype");
}

@font-face {
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/tt-travels/TT-Travels-Next-Trial-DemiBold.ttf");
}