.footer {
  padding-top: 68px;
  background-image: image-set(
    url("../assets/images/footer-bg.webp") type("image/webp") 1x,
    url("../assets/images/footer-bg.jpg") type("image/jpeg") 1x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-family: var(--font-family-third);
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  background: linear-gradient(61deg, #fff 0%, #ff5f20 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 572px;
  width: 100%;
}

.footer__description {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  max-width: 335px;
  width: 100%;
}

.footer__tg {
  margin-top: 90px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--orange-100);
  border-radius: 20px;
  padding: 10px;
  padding-left: 24px;
  width: max-content;
  font-family: var(--font-family-fifth);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--base-content-100);
}

.footer__big-text {
  font-family: var(--font-family-fourth);
  font-size: 18vw;
  font-weight: 800;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--base-content-100);
  margin-top: 108px;
}

.footer__big-text sup {
  font-size: 60px;
  vertical-align: top;
  line-height: 1.5;
  margin-left: -60px;
}

.footer__big-text--small {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--base-content-100);
  max-width: 296px;
  width: 100%;
}

@media (max-width: 768px) {
  .footer__inner {
    flex-direction: column;
    justify-content: start;
  }

  .footer__big-text {
    font-size: 76px;
    margin-top: 140px;
  }

  .footer__big-text sup {
    font-size: 18px;
  }
}
