.input.primary {
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.04);
  font-size: 14px;
  font-weight: 400;
  color: var(--base-content-100);
  font-family: var(--font-family-second);
  transition: all 0.2s ease;
}

.input.primary::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input.primary:hover {
  border-color: rgba(255, 67, 16, 0.3)
}

.input.primary:focus {
  border-color: var(--orange-100)
}