.services {
  margin-top: 76px;
  background-color: var(--base-100);
  margin-top: -100svh;
  position: relative;
  z-index: 20;
}

.services__container {
  padding-bottom: 20px;
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 330px;
}

.services__navbar {
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 15;
  background-color: var(--base-100);
}

.services__navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.services__navs {
  display: flex;
  align-items: center;
  gap: 8px;
}

.services__nav.button {
  outline: none;
  backdrop-filter: unset;
  box-shadow: none;
  -webkit-backdrop-filter: unset;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
  padding: 20px 28px;
  border-radius: 20px;
  border: 1px solid transparent;
  min-width: 168px;
  text-wrap: nowrap;
  white-space: nowrap;
}

.services__nav.active {
  background-color: rgba(255, 90, 24, 0.1);
  border: 1px solid rgba(255, 90, 24, 0.4);
}

.card__footer-description--small {
  font-family: var(--font-family-first);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  color: var(--base-content-100);
  max-width: 296px;
  width: 100%;
}

@media (max-width: 1024px) {
  .services__navbar-inner {
    flex-direction: column;
    justify-content: start;
  }
}

@media (max-width: 768px) {
  .services__container {
    padding-bottom: 10px;
  }

  .services__navbar-inner {
    gap: 26px
  }

  .services__navs {
    overflow-x: auto;
    width: 100%;
    /* Для WebKit (Chrome, Safari, Edge) */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE и Edge */
  }

  .services__navs::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .services__nav.button {
    line-height: 1;
    font-size: 15px;
  }

  .services__list {
    padding-bottom: 350px;
  }

  .services__navbar-inner {
    align-items: start;
  }
}

@media (min-width: 1024px) and (max-height: 768px) {
  .services__nav.button {
    padding: 16px;
  }

  .services__list {
    padding-bottom: 290px;
  }
}

